@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis para o tema claro */
:root {
  --Gradient-Heading: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Foi atualizado para #FFFF, que é equivalente a #FFFFFF */
  --background-end-rgb: 255, 255, 255; /* Foi atualizado para #FFFF, que é equivalente a #FFFFFF */
}

/* Variáveis para o tema escuro */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39; /* gray-800 é equivalente a #111827 em hexadecimal */
  --background-end-rgb: 17, 24, 39; /* gray-800 é equivalente a #111827 em hexadecimal */
}

/* Estilos para o corpo da página */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Media query para preferência de tema do sistema */
@media (prefers-color-scheme: dark) {
}
.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}
